  <div class="vanta-bg" id="vanta-bg"></div>
    <script src="{{ 'scripts/three.min.js' | relative_url }}" defer></script>
  <script src="{{ 'scripts/vanta.waves.min.js' | relative_url }}" defer></script>


  <script defer>
   document.addEventListener("DOMContentLoaded", function () {
    VANTA.WAVES({
        el: "#vanta-bg",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00,
        color: 0x2b457a,
        shininess: 22.00,
        waveSpeed: 0.1,
        zoom: 1.07
      });
  });
  </script>