<div class="page__footer-follow">
  <div class="about-grid-container">
    <div class="about-container">
      <div class="about-title-container">
        <div class="about-title-text">About us</div>
        <div class="about-title-line"></div>
      </div>
      <div class="about-content">
        <p>We are the research group leading by Prof. Ningning Ding at the HKUST(GZ). The group was established in 2024.</p>
      </div>
    </div>
    <div class="about-container">
      <div class="about-title-container">
        <div class="about-title-text">Get in Touch</div>
        <div class="about-title-line"></div>
      </div>
      <div class="about-content">
        <p>
          <strong>Address</strong>: No.1 Du Xue Rd, Nansha District, Guangzhou<br>
          <strong>Email</strong>:
          <a href="mailto:ningningding@hkustgz.edu.cn">ningningding@hkustgz.edu.cn</a>
        </p>

      </div>
    </div>

    <!-- <div class="about-container">
      <div class="about-title-container">
        <div class="about-title-line"></div>
      </div>
      <div class="about-content">
        <img src="/assets/icons/hkustgz.png" alt="School Logo" class="about-logo" />
      </div>
    </div> -->
  </div>
  <div id="footer_bottom" class="page__footer-bottom"></div>
</div>