.bar-container {
  height: 50px;
  width: 95%;
  max-width: $max-width;
  background-color: $yellow; // 淡紫色
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); // 添加阴影
  border-radius: 5px;

  .bar-text {
    width: 85%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;

    @media (max-width: 768px) {
      width: 95%;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    #committee-bar {
      font-size: 1.2em;
    }
  }

  @media (max-width: 768px) {}
}