.gallery-container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  max-width: $max-width;
  height: 800px;  /* 关键，父容器必须有高度 */
  position: relative;
    .gallery-btn {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;

    &.left { left: 8%; }
    &.right { right: 8%; }
  }
}

.gallery-background {
  width: 100%;
  height: 560px;   
  background: $main_color;  
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1;
}

.gallery {
  position: relative;
  background: #fff;
  width: 60%;
  height: 480px;  /* 剩余一半 */
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  z-index: 2;
  top: 60%;  /* 下移到父容器中下方 */
  transform: translateY(-50%);
  overflow: hidden;

  .gallery-slider {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.8s ease-in-out;

    img {
      flex: 0 0 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }


}
