.outer-container {
  width: 80%;
  height: 250px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; // 保证内部定位不出问题
  
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    &.left { left: 0; }
    &.right { right: 0; }
  }

.news-wrapper {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  .news-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;

    .news-item {
      flex: 0 0 33.3333%;
      box-sizing: border-box;
      padding: 20px;
    }
  }


}



}
