.people-list {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  // justify-content: start;    
  // justify-items: start;  
    @media (max-width: 768px) {
        width: 100%;
    }        
}

.person-card {
  text-align: center;
  font-family: 'CustomFont';
  color: #333;
}

.person-avatar {
  width: 100%;
  max-width: 180px;
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  display: block;
}

.person-name {
  font-weight: bold;
  font-size: 1.2em; 
  margin: 0 0 5px 0;
}

